<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{extjs/resources/css/ext-all.css}">
    <script type="text/javascript" th:src="@{extjs/ext-all.js}"></script>
</head>
<script type="text/javascript">
    Ext.onReady(function () {

        var pages = 4;   // 设置你想要的每页显示条数

        var store = Ext.create('Ext.data.Store', {
            autoLoad:false,
            fields:["sets_id","site_type","valid_time","log_cycle","log_count","valid_start_time","valid_end_time"],
            pageSize: pages, // 每页显示条数
            proxy:{
                type:"ajax",
                url:"selkqsetsss",
                reader:{
                    type:"json",
                    totalProperty:"totalCount",
                    root:"data"
                }
            }
        });















// 指定部分数据通过params参数来加载

        store.load({
            params:{
                start:0,
                limit:pages
            }
        });

        Ext.create('Ext.grid.Panel', {
            title: 'Simpsons',
            store: store,
            columns:[{
                text:"id",
                dataIndex:"sets_id",
                hidden:true
            },{
                text:"站点类型",
                dataIndex:"site_type",
                align:"center",
                flex:2,
                sortable:true
            },{
                text:"有效时长(分钟)",
                dataIndex:"valid_time",
                align:"center",
                flex:3,
                sortable:true
            },{
                text:"周期",
                align:"center",
                dataIndex:"log_cycle",
                flex:1,
                sortable:true
            },{
                text:"次数",
                align:"center",
                dataIndex:"log_count",
                flex:1,
                sortable:true
            },{
                text:"规则有效期间_开始",
                align:"center",
                dataIndex:"valid_start_time",
                flex:4,
                sortable:true
            },{
                text:"规则有效期间_结束",
                align:"center",
                dataIndex:"valid_end_time",
                flex:4,
                sortable:true
            }],
            width: 1200,
            height: 600,
            bbar:new Ext.PagingToolbar({
                store:store,
                displayInfo:true,
                 displayMsg:"当前显示第{0}到{1}条记录,共有{1}条记录",
                emptyMsg:"无记录"
            }),
            renderTo: Ext.getBody()
        });

    })
</script>
<body>
</body>
</html>