<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{extjs/resources/css/ext-all.css}">
    <script type="text/javascript" th:src="@{extjs/ext-all.js}"></script>
</head>
<script type="text/javascript">
    Ext.onReady(function () {
        var store=new Ext.data.Store({
            fields:["userid","username","password"],
            proxy:{
                type:"ajax",
                url:"hq",
                reader:{
                    type:"json",
                    totalProperty:"totalCount",
                    root:"data"
                }
            },
            autoLoad:true
        })
        var bg=new Ext.grid.Panel({
            width:1200,
            height:600,
            renderTo:Ext.getBody(),
            border:false,
            frame:true,
            tbar:[{
                text:"添加",
                icon:"img/16.png"
            },{
                text:"修改",
                icon:"img/50.png"
            },{
                text:"导出Excel",
                icon:"img/51.png"
            },{
                text:"删除",
                icon:"img/15.png"
            },{
                text:"修改密码",
                icon:"img/56.png"
            },{
                text:"刷新",
                icon:"img/57.png"
            },"-","->",{
                xtype:"textfield",
                labelAlign: "right",
                width:200,
                fieldLabel:"姓名"
            },{
                xtype:"textfield",
                labelAlign: "right",
                width:200,
                fieldLabel:"登录账户"
            },{
                xtype:"combo",
                labelAlign: "right",
                width:150,
                fieldLabel:"性别"
            },{
                text:"查询",
                icon:"img/4.png",
                handler:function () {
                    alert(11);
                }
            }],
            columns:[{
                text:"工号",
                dataIndex:"userid",
                sortable:true
            },{
                text:"用户名",
                dataIndex:"username",
                sortable:true
            },{
                text:"密码",
                dataIndex:"password",
                sortable:true
            },{
                text:"操作",
                xtype:"actioncolumn",
                items:[{
                    icon:"img/55.png",
                    text:"查看明细"
                },{
                    icon:"img/52.png",
                    dataIndex:"角色"
                },{
                    icon:"img/54.png",
                    dataIndex:"数据权限"
                }]
            }],
            bbar:new Ext.PagingToolbar({
                pageSize:20,
                displayInfo:true,
                displayMsg:"当前显示第{0}到{1}条记录,共有2条记录",
                emptyMsg:"无记录"
            }),
            store:store
        });

    })
</script>
<body>

</body>
</html>