<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" th:href="@{extjs/resources/css/ext-all.css}">
    <script type="text/javascript" th:src="@{extjs/ext-all.js}"></script>
    <script type="text/javascript" th:src="@{js/yhgl.js}"></script>
    <script type="text/javascript" th:src="@{js/kqgzsz.js}"></script>
    <script type="text/javascript" th:src="@{js/xwkq.js}"></script>
    <script type="text/javascript" th:src="@{js/rzgl.js}"></script>
    <script type="text/javascript" th:src="@{js/jsgl.js}"></script>
    <script type="text/javascript" th:src="@{js/bmgl.js}"></script>
    <script type="text/javascript" th:src="@{js/main.js}"></script>
</head>
<body>
</body>
</html>